#myGrid {
    display: flex;
    width: 600px;
    height: 600px;
    }

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 5px;
    flex-grow: 1;
}

.cell {
    border: 2px black solid;
    display: flex;
    flex-basis:5px;
    flex-grow: 1;

    
}